@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  background: linear-gradient(-45deg, #F0F8FF, #A3E1E0, #D8E9E6, #9CB6D3, #013a2f);
  background-size: 400% 400%;
  animation: gradient 3s ease-in-out infinite;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: aliceblue;
}

.container {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: rgba(5, 136, 192, 0.435);
  border-radius: 50%;
  position: absolute;
  left: var(--left);
  animation-delay: var(--delay);
  top: -6vh;
}

.background-animate {
  background-size: 400%;
  -webkit-animation: BackgroundAnimation 3s ease infinite;
  -moz-animation: BackgroundAnimation 3s ease infinite;
  animation: BackgroundAnimation 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes snowfall {
  0% {
    opacity: 1;
    transform: translate3d(var(--left-ini), 0, 0);
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translate3d(var(--left-end), 106vh, 0);
  }
}
.snowflake:nth-child(1) {
  --size: 0.6vw;
  --left-ini: -9vw;
  --left-end: -2vw;
  left: 1vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(2) {
  --size: 0.4vw;
  --left-ini: 0vw;
  --left-end: -2vw;
  left: 49vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(3) {
  --size: 0.6vw;
  --left-ini: -9vw;
  --left-end: -6vw;
  left: 76vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(4) {
  --size: 0.6vw;
  --left-ini: 1vw;
  --left-end: 3vw;
  left: 77vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(5) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: -4vw;
  left: 5vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(6) {
  --size: 1vw;
  --left-ini: -3vw;
  --left-end: -5vw;
  left: 18vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(7) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: -2vw;
  left: 6vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(8) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: -8vw;
  left: 87vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(9) {
  --size: 0.2vw;
  --left-ini: -9vw;
  --left-end: -3vw;
  left: 51vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(10) {
  --size: 1vw;
  --left-ini: -8vw;
  --left-end: -4vw;
  left: 61vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(11) {
  --size: 0.8vw;
  --left-ini: -8vw;
  --left-end: -4vw;
  left: 43vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(12) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: -3vw;
  left: 85vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(13) {
  --size: 0.4vw;
  --left-ini: -9vw;
  --left-end: -6vw;
  left: 75vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(14) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: 3vw;
  left: 81vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(15) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: -9vw;
  left: 4vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(16) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: -9vw;
  left: 51vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(17) {
  --size: 0.8vw;
  --left-ini: 1vw;
  --left-end: -7vw;
  left: 22vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(18) {
  --size: 0.8vw;
  --left-ini: -6vw;
  --left-end: -7vw;
  left: 56vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(19) {
  --size: 1vw;
  --left-ini: -1vw;
  --left-end: -9vw;
  left: 26vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(20) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: -4vw;
  left: 14vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(21) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: 1vw;
  left: 93vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(22) {
  --size: 0.2vw;
  --left-ini: -2vw;
  --left-end: 1vw;
  left: 71vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(23) {
  --size: 0.2vw;
  --left-ini: -7vw;
  --left-end: -9vw;
  left: 63vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(24) {
  --size: 0.4vw;
  --left-ini: 4vw;
  --left-end: 4vw;
  left: 47vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(25) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: -2vw;
  left: 25vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(26) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: -3vw;
  left: 77vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(27) {
  --size: 0.8vw;
  --left-ini: -1vw;
  --left-end: -5vw;
  left: 47vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(28) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: -9vw;
  left: 7vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(29) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: -8vw;
  left: 78vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(30) {
  --size: 1vw;
  --left-ini: 2vw;
  --left-end: -3vw;
  left: 16vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(31) {
  --size: 0.2vw;
  --left-ini: -8vw;
  --left-end: 4vw;
  left: 36vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(32) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: -3vw;
  left: 66vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(33) {
  --size: 1vw;
  --left-ini: 4vw;
  --left-end: -3vw;
  left: 70vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(34) {
  --size: 0.4vw;
  --left-ini: 3vw;
  --left-end: 2vw;
  left: 29vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(35) {
  --size: 0.4vw;
  --left-ini: -8vw;
  --left-end: -1vw;
  left: 76vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(36) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: 0vw;
  left: 57vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(37) {
  --size: 0.2vw;
  --left-ini: -1vw;
  --left-end: -1vw;
  left: 19vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(38) {
  --size: 0.6vw;
  --left-ini: 3vw;
  --left-end: -9vw;
  left: 98vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(39) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: 3vw;
  left: 6vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(40) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: 1vw;
  left: 3vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(41) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: 1vw;
  left: 9vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(42) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: 1vw;
  left: 83vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(43) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: -9vw;
  left: 47vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(44) {
  --size: 0.8vw;
  --left-ini: -6vw;
  --left-end: -5vw;
  left: 14vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(45) {
  --size: 0.6vw;
  --left-ini: -2vw;
  --left-end: -9vw;
  left: 3vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(46) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: 3vw;
  left: 75vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(47) {
  --size: 0.4vw;
  --left-ini: 3vw;
  --left-end: -1vw;
  left: 57vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(48) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: -6vw;
  left: 27vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(49) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: -7vw;
  left: 90vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(50) {
  --size: 0.2vw;
  --left-ini: 3vw;
  --left-end: 0vw;
  left: 69vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(51) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: -1vw;
  left: 58vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(52) {
  --size: 0.8vw;
  --left-ini: 4vw;
  --left-end: 4vw;
  left: 19vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(53) {
  --size: 0.4vw;
  --left-ini: 4vw;
  --left-end: -8vw;
  left: 53vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(54) {
  --size: 1vw;
  --left-ini: -3vw;
  --left-end: -3vw;
  left: 92vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(55) {
  --size: 0.4vw;
  --left-ini: -5vw;
  --left-end: -7vw;
  left: 82vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(56) {
  --size: 0.6vw;
  --left-ini: -7vw;
  --left-end: -5vw;
  left: 96vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(57) {
  --size: 0.6vw;
  --left-ini: -4vw;
  --left-end: -1vw;
  left: 78vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(58) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: -3vw;
  left: 74vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(59) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: -1vw;
  left: 18vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(60) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: -5vw;
  left: 3vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(61) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: -2vw;
  left: 18vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(62) {
  --size: 0.2vw;
  --left-ini: -9vw;
  --left-end: -7vw;
  left: 80vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(63) {
  --size: 0.8vw;
  --left-ini: -2vw;
  --left-end: -9vw;
  left: 48vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(64) {
  --size: 1vw;
  --left-ini: -2vw;
  --left-end: 2vw;
  left: 30vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(65) {
  --size: 0.4vw;
  --left-ini: -4vw;
  --left-end: -6vw;
  left: 20vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(66) {
  --size: 0.4vw;
  --left-ini: -4vw;
  --left-end: 4vw;
  left: 53vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(67) {
  --size: 0.4vw;
  --left-ini: -1vw;
  --left-end: -3vw;
  left: 99vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(68) {
  --size: 0.2vw;
  --left-ini: -7vw;
  --left-end: 1vw;
  left: 33vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(69) {
  --size: 0.6vw;
  --left-ini: -9vw;
  --left-end: -7vw;
  left: 59vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(70) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: -6vw;
  left: 57vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(71) {
  --size: 0.2vw;
  --left-ini: 1vw;
  --left-end: -8vw;
  left: 46vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(72) {
  --size: 0.6vw;
  --left-ini: -3vw;
  --left-end: -3vw;
  left: 32vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(73) {
  --size: 1vw;
  --left-ini: -7vw;
  --left-end: 0vw;
  left: 24vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(74) {
  --size: 0.4vw;
  --left-ini: -9vw;
  --left-end: -6vw;
  left: 32vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(75) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: -9vw;
  left: 61vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(76) {
  --size: 1vw;
  --left-ini: -3vw;
  --left-end: -3vw;
  left: 10vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(77) {
  --size: 1vw;
  --left-ini: -7vw;
  --left-end: -4vw;
  left: 2vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(78) {
  --size: 0.2vw;
  --left-ini: -2vw;
  --left-end: 1vw;
  left: 13vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(79) {
  --size: 0.2vw;
  --left-ini: -5vw;
  --left-end: 0vw;
  left: 93vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(80) {
  --size: 0.4vw;
  --left-ini: 3vw;
  --left-end: -6vw;
  left: 20vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(81) {
  --size: 0.8vw;
  --left-ini: -7vw;
  --left-end: -7vw;
  left: 26vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(82) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: -5vw;
  left: 23vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(83) {
  --size: 0.8vw;
  --left-ini: -2vw;
  --left-end: -3vw;
  left: 13vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(84) {
  --size: 0.6vw;
  --left-ini: 3vw;
  --left-end: -9vw;
  left: 44vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(85) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: 1vw;
  left: 16vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(86) {
  --size: 1vw;
  --left-ini: -7vw;
  --left-end: -4vw;
  left: 97vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(87) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: -4vw;
  left: 99vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(88) {
  --size: 0.8vw;
  --left-ini: -1vw;
  --left-end: 1vw;
  left: 86vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(89) {
  --size: 0.2vw;
  --left-ini: 0vw;
  --left-end: -7vw;
  left: 13vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(90) {
  --size: 0.4vw;
  --left-ini: -4vw;
  --left-end: -2vw;
  left: 91vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(91) {
  --size: 0.2vw;
  --left-ini: -3vw;
  --left-end: -3vw;
  left: 42vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(92) {
  --size: 0.4vw;
  --left-ini: 2vw;
  --left-end: -1vw;
  left: 44vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(93) {
  --size: 0.2vw;
  --left-ini: 3vw;
  --left-end: 1vw;
  left: 28vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -4s;
}

.snowflake:nth-child(94) {
  --size: 0.8vw;
  --left-ini: -8vw;
  --left-end: -7vw;
  left: 46vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(95) {
  --size: 1vw;
  --left-ini: -9vw;
  --left-end: -6vw;
  left: 13vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(96) {
  --size: 0.2vw;
  --left-ini: -2vw;
  --left-end: 0vw;
  left: 33vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(97) {
  --size: 1vw;
  --left-ini: -9vw;
  --left-end: 2vw;
  left: 42vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(98) {
  --size: 0.4vw;
  --left-ini: -7vw;
  --left-end: -2vw;
  left: 62vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(99) {
  --size: 0.8vw;
  --left-ini: -9vw;
  --left-end: -7vw;
  left: 58vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(100) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: -3vw;
  left: 58vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(10n) {
  filter: blur(1px);
}

/*# sourceMappingURL=App.css.map */
